# App Features
NODE_ENV=dev
APP_PORT=3000

#External providers
OPTIMIZELY_SDK_KEY=
GOOGLE_API_KEY=

# Feature flags
ZIPCODE_VALIDATION_FEATURE_FLAG_ID=zipcode_validation

# Databases
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_AUTH_PASSWORD=root
MYSQL_HOST=127.0.0.1
MYSQL_WRITE_HOST=mysql
MYSQL_READ_HOST_0=mysql
MYSQL_PORT=3306
MYSQL_DB=minded_local
MYSQL_USER=root
MYSQL_PASS=root

JWT_SECRET=mySecret
SESSION_SECRET=
